<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/main.css">
</head>
<body>
    
    <div class="container">
        <div class="hero">
            <div class="hero-bg">
                <h1>nomnom</h1>
            </div>

            <div class="left">
                <div class="row"><h1>Enjoy Your Happy Meal With Delicious Recipe</h1><p>Lorem Ipsum Dolor Sit amet concequat</p></div>
                <div class="row"><h1>Enjoy Your Happy Meal With Delicious Recipe</h1><p>Lorem Ipsum Dolor Sit amet concequat</p></div>
            </div>

            <div class="middle">
                <img src="../../assets/images/vegetables.png" class="vegetables">
                <img src="../../assets/images/pan.png" class="pan">
            </div>

            <div class="right">
                <div class="row"><h1>Enjoy Your Happy Meal With Delicious Recipe</h1><p>Lorem Ipsum Dolor Sit amet concequat</p></div>
                <div class="row"><h1>Enjoy Your Happy Meal With Delicious Recipe</h1><p>Lorem Ipsum Dolor Sit amet concequat</p></div>
            </div>

        </div>
    </div>

    <script src="../../JS/main.js"></script>
</body>
</html>