<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/main.css">
</head>
<body>
    
    <div class="container">
        <div class="hero">
            <div class="hero-bg">
                <div class="text">
                    <h1>nomnom</h1>
                </div>
            </div>

            <div class="left">
                <div class="col">
                    <h3>Recipes, foods, tutorials, shop—your meal planner hub awaits!</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
                <div class="col">
                    <h3>Explore, cook, learn, shop, plan—culinary simplicity in one place!</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
            </div>

            <div class="middle">
                <div class="img-container">
                    <img src="../../assets/images/vegetables.png" class="vegetables">
                    <img src="../../assets/images/pan.png" class="pan">
                </div>
            </div>

            <div class="right">
                <div class="col">
                    <h3>Find recipes, shop products, plan meals—all in one seamless platform!</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
                <div class="col">
                    <h3>Effortless cooking: recipes, foods, tutorials, shop, plan—your kitchen companion!</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
            </div>

        </div>
    </div>

    
    <div class="container">
        <div class="features">
            <ul>
                <li class="left">
                    <h3>5000+</h3>
                    <p>Foods and Recipes</p>
                </li>

                <li class="middle">
                    <h3>2600+</h3>
                    <p>Ingredients</p>
                </li>

                <li class="right">
                    <h3>115k+</h3>
                    <p>Menu Items</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="featured-foods">


            <div class="top">
                <h2>Foods you might like</h2>

                <div class="slider">
                    <div class="inner-slider" id="inner-slider">
                        <button class="btn" id="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#1b2807" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                              <p>see more</p>
                        </button>
                    </div>
                </div>
            </div>

<!--             <div class="middle">
                <h2>Trending Recipes</h2>

                <div class="slider">
                    <div class="inner-slider">
                        <div class="slider-item">1</div>
                        <div class="slider-item">2</div>
                        <div class="slider-item">3</div>
                        <button class="btn" id="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#1b2807" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                              <p>see more</p>
                        </button>
                    </div>
                </div>
            </div> -->

            <div class="bottom">
                <h2>Watch Tutorials</h2>

                <div class="slider">
                    <div class="inner-slider" id="inner-slider-videos">

                        <button class="btn" id="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#1b2807" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                              <p>see more</p>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="bg-color-1">
        <div class="container">

            <div class="meal-plan-section">
                <div class="left">
                    <div class="top">
                        <h2>Create Your Own Meal Plan</h2>
                        <p>Benefits of having a weekly meal planner:</p>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="step-meal-plan">Weekly meal planning simplifies daily decisions and grocery shopping, freeing up time and minimizing stress from impromptu meal choices.</li>
                            <li class="step-meal-plan">The planner encourages intentional, balanced meal choices, promoting healthier eating habits and reducing dependence on convenience options.</li>
                            <li class="step-meal-plan">Streamlined shopping, minimized impulse buys, and reduced food waste collectively contribute to long-term cost savings.</li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <img src="../../assets/images/ref.png" alt="">
                </div>
            </div>

            <hr>
        </div>

        <div class="container">
            <div class="meal-plan-action">
                <h2>Get Started</h2>
                <p>Revamp your week deliciously! Plan meals in a snap—save time, savor flavor, and budget better!</p>
                <a href="#" target="main">Create Meal Plan</a>
            </div>
        </div>
    </div>

    <script src="../../JS/main.js"></script>
</body>
</html>