<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/main.css">
</head>
<body>
    
    <div class="container">
        <div class="hero">
            <div class="hero-bg">
                <div class="text">
                    <h1>nomnom</h1>
                </div>
            </div>

            <div class="left">
                <div class="col">
                    <h3>Enjoy your meal with delicious recipes</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
                <div class="col">
                    <h3>Enjoy your meal with delicious recipes</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
            </div>

            <div class="middle">
                <div class="img-container">
                    <img src="../../assets/images/vegetables.png" class="vegetables">
                    <img src="../../assets/images/pan.png" class="pan">
                </div>
            </div>

            <div class="right">
                <div class="col">
                    <h3>Enjoy your meal with delicious recipes</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
                <div class="col">
                    <h3>Enjoy your meal with delicious recipes</h3>
                    <p>lorem ipsum dolor sit amet concequat</p>
                </div>
            </div>

        </div>
    </div>

    
    <div class="container">
        <div class="features">
            <ul>
                <li class="left">
                    <h3>10k+</h3>
                    <p>Foods and Recipes</p>
                </li>

                <li class="middle">
                    <h3>10k+</h3>
                    <p>Foods and Recipes</p>
                </li>

                <li class="right">
                    <h3>10k+</h3>
                    <p>Foods and Recipes</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="featured-foods">


            <div class="top">
                <h2>Foods you might like</h2>

                <div class="slider">
                    <div class="inner-slider"></div>
                </div>
            </div>

            <div class="middle">
                <h2>Trending Recipes</h2>

                <div class="slider">
                    <div class="inner-slider"></div>
                </div>
            </div>

            <div class="bottom">
                <h2>Watch Tutorials</h2>

                <div class="slider">
                    <div class="inner-slider"></div>
                </div>
            </div>


        </div>
    </div>

    <script src="../../JS/main.js"></script>
</body>
</html>